@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.p-password input {
  width: 100%;
}

.favorites-btn {
  cursor: pointer;
  top: 14px;
  right: 14px;
}
.favorites-btn:not(:hover, .active) {
  filter: saturate(70%) grayscale(10%) contrast(70%);
}
.p-component {
  font-family: "Cera Pro", "sans-serif";
}

.p-autocomplete input {
  width: 100%;
}

.dzu-dropzone {
  padding: 2rem;
  color: #a1a1a1;
  font-size: 0.825rem;
}

.dzu-dropzone input {
  display: none;
}

.dzu-previewContainer {
  position: relative;
}

.dzu-previewContainer img {
  border-radius: 1rem;
}

.dzu-previewStatusContainer {
  padding: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  background: #2d2d2d;
  line-height: 1;
}

.dzu-previewButton {
  display: inline-block;
  height: 14px;
  width: 14px;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.p-calendar.w-full input {
  width: 100%;
}
